<a href="https://colab.research.google.com/github/sruthi-veeramaneni/2303A51308_PNS/blob/main/LAB_2_pns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The dataset below represents the ages of 500 people in a city:
Data (Ages):
Data: [45, 67, 89, 23, 45, 67, 89, 34, 56, 78, 90, 21, 45, 67, 89, 23, 45,
56, 78, 34, 23, 45, 67, 89, 45, 67, 89, 12, 34, 56, 78, 90, 23, 45,
67, 12, 34, 78, 45, 67, 89, 34, 56, 78, 90, 23, 56, 78, 89, 45, 12,
67, 45, 78, 23, 45, 67, 89, 34, 45, 23, 78, 67, 89, 45, 67, 89, 12,
34, 56, 78, 90, 23, 12, 34, 56, 78, 23, 45, 67, 89, 34, 45, 23, 45,
67, 89, 12, 34, 56, 78, 90, 45, 23].
• Use numpy and pandas to calculate the median and mode of the dataset.
• Comment on the efficiency of your approach

In [ ]:
import numpy as np

In [ ]:
ages = [45, 67, 89, 23, 45, 67, 89, 34, 56, 78, 90, 21, 45, 67, 89, 23, 45, 56, 78, 34,
    23, 45, 67, 89, 45, 67, 89, 12, 34, 56, 78, 90, 23, 45, 67, 12, 34, 78, 45, 67,
    89, 34, 56, 78, 90, 23, 56, 78, 89, 45, 12, 67, 45, 78, 23, 45, 67, 89, 34, 45,
    23, 78, 67, 89, 45, 67, 89, 12, 34, 56, 78, 90, 23, 12, 34, 56, 78, 23, 45, 67,
    89, 34, 45, 23, 45, 67, 89, 12, 34, 56, 78, 90, 45, 23]

In [ ]:
sum(ages)

5146

In [ ]:
len(ages)

94

In [ ]:
mean=sum(ages)/len(ages)

In [ ]:
print(mean)

54.744680851063826

The table below represents the scores of 2000 students in an exam and their corresponding
frequencies:
Scores (X): [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Frequency (F): [200, 350, 400, 300, 250, 200, 150, 80, 50, 20]
• Use pandas to calculate the median and mode of this grouped data.
• Write a Python function to handle grouped data calculations efficiently for large
datasets.
1

In [ ]:
Scores = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
Frequency = [200, 350, 400, 300, 250, 200, 150, 80, 50, 20]

In [ ]:
sum(Frequency)

2000

In [ ]:
sum_fx=sum(Frequency*Scores for Frequency,Scores in zip(Frequency,Scores))

In [ ]:
mean=sum_fx/sum(Frequency)

In [ ]:
print(mean)

40.45

The following table shows the income distribution of 1000 households (in $1000s):
Income Range (Class Interval) Frequency
0 − 20 50
20 − 40 120
40 − 60 200
60 − 80 300
80 − 100 220
100 − 120 70
120 − 140 40
• Use Python to calculate the median and mode for the grouped data.
• For mode, determine the modal class.
2

In [4]:
CI=[(0,20),(20,40),(40,60),(60,80),(80,100),(100,120),(120,140)]

In [5]:
Frequencies=[50,120,200,300,220,70,40]

In [6]:
midpoints=[(start+end)/2 for start,end in CI]

In [7]:
sum_fx=sum(Frequencies*midpoints for Frequencies,midpoints in zip(Frequencies,midpoints))

In [10]:
mean=sum_fx/sum(Frequencies)

In [11]:
print(mean)

67.8